<ul class="nav">
    <li class="nav-item">
        <a class="nav-link disabled">{{finger.username}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Latest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/finger">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/feed">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/uc">Syndicate</a>
    </li>
</ul>
<p id="lastline"><small class="text-muted">Finger: The original social media tool, reimagined</small></p>
</div> <!-- close container -->
</body>

</html>
