<ul class="nav">
    <li class="nav-item">
        <a class="nav-link disabled">{{finger.username}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Latest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/plan">Plan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/feed">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/uc">Syndicate</a>
    </li>
</ul>
<p id="lastline"><small class="text-muted">Fin: A new take on the original UNIX social media platform</small></p>
</div> <!-- close container -->
</body>

</html>
