<div class="card" style="width: 18rem; margin-top: 10px;">
    <h5 class="card-header">
        Friends
    </h5>
    <ul class="list-group list-group-flush">
        {{#each friends}}
        <li class="list-group-item"><a href="{{url}}">{{username}}</a></li>
        {{/each}}
    </ul>
</div>
