<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Finger and Plan</title>
</head>

<body>
    <h1>Finger</h1>
    {{{finger}}}

    <h1>Plan</h1>
    {{{plan}}}

    <ul>
        <li><a href="/finger">Finger</a></li>
        <li><a href="/plan">Plan</a></li>
    </ul>
</body>

</html>
