<div class="card">
    <h5 class="card-header">Plan</h5>
    <div class="card-body">
        <div class="card-text">{{{plan}}}</div>
        <p class="card-text text-end"><small class="text-muted">Last updated {{date_format "%b %d, %Y %I:%M%P UTC"
                plan_date}}</small></p>
    </div>
</div>
